.text-input {
    max-width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    &.error {
        border-color: #e87d7d;
        background-color: #f9e3e3;
    }
}