.preview {
    max-width: 500px;
    margin-top: 18px;
    padding: 12px;
    img {
        max-width: 100%;
    }
    .error-message {
        color: #da1616;
        font-size: 16px;
    }
    .url {
        display: block;
        margin-top: 12px;
        word-break: break-all;
        line-height: 22px;
    }
}